<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin><extension
   point="org.eclipse.ui.newWizards">
      <wizard
            category="org.erlide.ui.wizards.newWizards"
            class="com.rytong.ui.internal.wizard.NewAppProjectWizard"
            finalPerspective="org.erlide.ui.perspectives.ErlangPerspective"
            hasPages="true"
            icon="icons/empapp.ico"
            id="com.rytong.ui.NewAppProjectWizard"
            name="EMP App Project"
            project="true">
         <description>
            Create an EMP project
         </description>
      </wizard>
      <wizard
            category="org.erlide.ui.wizards.newWizards"
            class="com.rytong.ui.internal.wizard.NewAdapterConfWizard"
            finalPerspective="org.erlide.ui.perspectives.ErlangPerspective"
            hasPages="true"
            icon="icons/adapterconf.ico"
            id="com.rytong.ui.NewAdapterConfWizard"
            name="EMP Adapter Conf">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.rytong.ui.editor.conf.ConfEditor"
            default="true"
            extensions="conf"
            icon="icons/econf.ico"
            id="com.rytong.ui.editor.conf"
            name="Erlang Conf Editor">
      </editor>
      <editor
            class="com.rytong.ui.editor.lua.LuaEditor"
            default="true"
            extensions="lua"
            filenames="l"
            icon="icons/lua.ico"
            id="com.rytong.ui.editor.lua"
            name="Lua Editor Pro">
      </editor>
      <editor
            class="com.rytong.ui.editor.yaws.YawsEditor"
            default="true"
            filenames="yaws.conf"
            icon="icons/yaws.ico"
            id="com.rytong.ui.editor.yaws"
            name="Yaws Conf Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.rytong.ui.internal.preference.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="com.rytong.ui.mgroup"
            type="new"
            wizardId="com.rytong.ui.NewAppProjectWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="com.rytong.ui.mgroup"
            type="new"
            wizardId="com.rytong.ui.NewAdapterConfWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <group
            id="com.rytong.ui.mgroup"
            separatorsVisible="true">
      </group>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.rytong.ui.form.category"
            name="Forms Test">
      </category>
      <command
            defaultHandler="com.rytong.ui.editor.FormatHandler"
            description="Conf Formatter"
            id="com.rytong.ui.editor.conf.FormatAction"
            name="Conf Formatter">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.rytong.ui.editor.conf.FormatAction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+F">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.erlide.ui.ErlangProjectImport.category"
            class="com.rytong.ui.internal.wizard.EmpProjectImportWizard"
            icon="icons/empapp.ico"
            id="com.rytong.ui.EmpProjectImport.wizard"
            name="Import EMP app project into workspace">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.erlide.ui.preferences"
            class="com.rytong.ui.internal.preference.EwpPreferencePage"
            id="com.rytong.ui.preferences.ewp"
            name="Installed ewp">
      </page>
   </extension>

</plugin>
