<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.erlide.ui.wizards.newWizards"
            class="com.rytong.ui.internal.wizard.NewAppProjectWizard"
            finalPerspective="org.erlide.ui.perspectives.ErlangPerspective"
            hasPages="true"
            icon="icons/sample.gif"
            id="com.rytong.ui.NewAppProjectWizard"
            name="EMP App Project"
            project="true">
      </wizard>
   </extension>

</plugin>
