<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.rytong.conf.editor.editors.MultiConfEditor"
            default="true"
            filenames="channel.conf"
            icon="icons/conf.gif"
            id="com.rytong.conf.editor"
            name="Simple Conf Editor">
      </editor>
      <editor
            class="com.rytong.conf.adapter.editor.AdapterEditor"
            default="false"
            extensions="AD"
            icon="icons/conf.gif"
            id="com.rytong.conf.adapter.editor"
            name="Adapter Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.erlide.ui.wizards.newWizards"
            class="com.rytong.conf.editor.wizards.AddConfWizard"
            finalPerspective="org.erlide.ui.perspectives.ErlangPerspective"
            icon="icons/conf.gif"
            id="com.rytong.conf.editor.wizards.AddConfWizard"
            name="Add Channel Conf">
      </wizard>
      <wizard
            category="org.erlide.ui.wizards.newWizards"
            class="com.rytong.conf.adapter.wizard.NewProcedureWizard"
            icon="icons/conf.gif"
            id="com.rytong.conf.adapter.wizard.NewProcedureWizard"
            name="Add Procedure">
      </wizard>
   </extension>

</plugin>
